@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-color: #39b44d;
    --font-family: 'Poppins', sans-serif;
}

/* STICKY MENU -------------------------------------------------------------------------------------------------*/
.menu-bar_scroll{
    position: fixed;
    width: 90px;
    top: 2.5rem;
    right: 2rem;
    z-index: 999;
}

.menu-bar{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--secondary-color);
    margin-right: -80px;
}

.hamburger{
    padding: 15px;
    height: 45px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger.active{
    background-color: #000;
}

.lines{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
}

.line{
    height: 2px;
    width: 25px;
    background-color: #fff;
}

/* HEADER--------------------------------------------------------------------------------------------------- */
.hero{
    height: 130vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/leaves.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header .logo {
    color: #fff;
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 500;
    padding: 1.5rem;
}

.logo span{
    font-size: 36px;
    margin-left: 1.5px;
    color: var(--secondary-color);
}


.menu{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #0c0c0c;
    width: 15rem;
    height: 100vh;
}

.menu ul{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    list-style-type: none;
}

.mobile-nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 11rem;
}

.mobile-nav-top .nav-text{
    color: var(--secondary-color);
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
}

.mobile-nav-top img{
    background-color: #080808;
    width: 25px;
    height: 25px;
    padding: 7px;
}

.navbar-items {
    margin-top: 2.3rem;
}

.navbar-items li{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 600;
}

.navbar-foot{
    margin-top: 2.3rem;
}

.navbar-foot p{
    color: #494943;
    font-size: 12px;
    width: 180px;
}

/* HERO-CONTENT------------------------------------------------------------------------------------------------ */

.content{
    color: white;
    height: 500px;
    padding-top: 7%;
    padding-left: 10%;
}

.description_and_button{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.description h3{
    text-align: center;
    font-size: 16px;
    font-family: var(--font-family);
    color: grey; 
    letter-spacing: 2.5px;
    margin-left: -40px;
}

.description h1{
    font-family: var(--font-family);
    width: 90%;
    font-weight: 600;
    height:  300px;
    line-height: 2.75rem;
    word-spacing: 0.3rem;
    text-align: center;
}

.btn{
    display: flex;
    flex-direction: column;
}

.btn button{
    font-family: var(--font-family);
    color: white;
    background-color: transparent;
    width: 400px;
    border: 2px solid #fff;
    padding: 1rem 4rem;
    margin-bottom: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    transition: background-color 0.5s ease;
}

.btn button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

/* HERO SCROLL DOWN----------------------------------------------- */
.scroll-down_hero{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.down-arrow{
    width: 12px;
    height: 12px;
}

.down-arrow img{
    width: 100%;
    height: 100%;
}

.scroll-down{
    color: white;
    font-weight: 500;
    font-family: var(--font-family);
    font-size: 12px;
}

/* ABOUT SECTION ------------------------------------------------------------------------------------------------ */
#about{
    background-color: #39b54a;
    padding-block: 20%;
    padding-inline: 10%;
}

.about__content span{
    font-family: var(--font-family);
    font-weight: 600;
    letter-spacing: 2px;
    width: 500%;
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    height: 200;
}

.about__content h1{
    margin-top: -0.5rem;
    color: #fff;
    font-family: var(--font-family);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.hr1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr1 .under{
    margin-top: 0.5rem;
    background-color: #aaa;
    height: 0.5px;
    width: 60%;
}

.about__content p{
    margin-top: 1.5rem;
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 36px;
}

#content_numbers{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 64px;
    margin-bottom: 36px;
    height: 700px;
    padding-inline: 70px;
}

.progress{
    border-bottom: 1px solid #aaa;
    text-align: center;
    font-family: var(--font-family);
    padding-bottom: 45px;
}

.progress .number{
    font-size: 5rem;
    font-weight: 700;
    color: white;
}

.progress .tag{
    font-weight: 700;
    margin-top: -1rem;
}

/* SERVICES SECTION---------------------------------------------- */

.services_top{
    margin-top: 5.5rem;
    padding: 2rem;
}

.services_top h1,h4{
    font-family: var(--font-family);
    width: 100%;
    text-align: center;
}

.services_top h4{
    letter-spacing: 2px;
    color: var(--secondary-color);
}

.services_top h1{
    font-weight: 600;
    width: 420px;
}

.hr2{
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

.hr2 .hr2_hr{
    background: rgb(199, 199, 199);
    height: 1px;
    width: 50%;
}

.services_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services_list__items{
    display: flex;
    flex-direction: column;
    padding: 25px 50px;

}

.services_image{
    text-align: center;
    margin-bottom: 20px;
}

.services_content{
    text-align: center;
    font-family: var(--font-family);
}

.services_content__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.services_content__text{
    width: 400px;
    color: #757575;
}

/* WORKS SECTION --------------------------------------------------------------------------------------------- */
#works{
    height: 100vh;
    background-color: #111111;
}

.works_content{
    padding-top: 6rem;
    padding-inline: 25px;
}

.works_content h1,h4{
    width: 100%;
    text-align: center;
    font-family: var(--font-family);
}

.works_content h4{
    letter-spacing: 2px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
}

.works_content h1{
    color: #fff;
    font-weight: 600;
    line-height: 2.7rem;
}

.hr3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hr3_hr{
    width: 60%;
    height: 0.5px;
    background-color: #1d1d1d;
}

/* IMAGES SECTION--------------------------------------------- */

.images{
    padding-inline: 25px;
    margin-top: -250px;
}

.col-img{
    height: 100%;
    margin-top: -4px;
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99.55%;
    width: 100%;
    overflow: hidden;
    transition : 1s ease;
    z-index: -1;
}

.col-img:hover{
    cursor: pointer;
}

.col-img:hover .overlay{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}


.images img{
    height: 100%;
    width: 100%;
    transition: 1s ease;
}

.images img:hover{
    transform: scale(1.1);
}

.link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 10px;
    border:1px solid white;
    background-color: black;
    border-radius: 50%;
}

.link:hover{
    background: #fff;
    cursor: pointer;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.plus img{
    height: 24px;
    width: 24px;
}

.image-hover-text h5{
    font-family: var(--font-family);
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
}

.image-hover-text p{
    font-family: var(--font-family);
    color: rgb(199, 199, 199);
}

/* OUR CLIENTS SECTION ------------------------------------------------------------ */

#our-clients{
    background-color: #e6e6e6;
    padding-block: 100px;
    margin-inline: 25px;
}

.clients__slider{
    width: 100%;
    overflow: hidden;
}

.slider-track{
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider-slide{
    flex-shrink: 0;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-slide p{
    font-family: var(--font-family);
    text-align: center;
    font-size: 18px;
    color: #555555;
}

.slider-slide .profile{
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-slide .profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.slider-slide .profile h5{
    font-family: var(--font-family);
    font-size: 14px;
    letter-spacing: 1px;
    margin-block: 0.3rem;
}

.slider-slide .profile small{
    color: #959595;
    font-family: var(--font-family);

}

.client__slider-buttons{
    display: flex;
    justify-content: center;

}

.slider__buttons{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-button{
    height: 10px;
    width: 10px;
    background-color: #555555;
    outline: none;
    border: none;
    border-radius: 50%;
}

.slider-button.active{
    background-color: var(--secondary-color);
}

.slider-button:hover{
    cursor: pointer;
}

/* Contact US Section---------------------------------------------- */

#contact{
    margin-top: 100px;
    background: url('assets/contact.png');
}
.form__contact-details{
    display: flex;
    flex-direction: column;
}

.contact__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}